version: "3.9"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app/app
          initial_sync: true
          ignore:
            - node_modules/
        - action: sync
          path: public
          target: /app/public
          initial_sync: true
        - action: rebuild
          path: package.json
